@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Add this to your main CSS file */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@font-face {
  font-family: 'BPG Mrgvlovani Caps 2010';
  src: url('/assets/bpg_mrgvlovani_caps_2010.ttf') format('truetype'); /* URL to font in public folder */
  font-weight: normal;
  font-style: normal;
}

/* @font-face for Arial */
@font-face {
  font-family: 'Arial';
  src: url('/assets/bpg_arial_2009.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

