@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Add this to your main CSS file */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* @import url('https://fonts.ge/en/font/673/BPG-Mrgvlovani-Caps-2010');
@import url('https://fonts.ge/ka/font/366/Geo-Arial'); */

@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/mrgvlovani.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Arial';
    src: url('./assets/bpg_arial_2009.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

